  <!-- footer -->
  <footer class="py-5">
    <div class="container py-xl-4">
      <div class="row footer-top">
        <div class="col-md-5 footer-grid_section_1its">
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-6">
              <div class="row">
                <div class="col-2 foot-icon-w3">
                  <span class="fa fa-user" aria-hidden="true"></span>
                </div>
                <div class="col-10">
                  <h2 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">About Us</h2>
                  <p>We are providin best IT soultion</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-6 mt-lg-0 mt-md-4 mt-sm-0 mt-4">
              <div class="row">
                <div class="col-2 foot-icon-w3">
                  <span class="fa fa-bullhorn" aria-hidden="true"></span>
                </div>
                <div class="col-10">
                  <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Popular In</h3>
                  <p>Application Development</p>
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-6 col-md-12 col-sm-6 mt-lg-0 mt-md-4 mt-sm-0 mt-4">
              <div class="row">
                <div class="col-2 foot-icon-w3">
                  <span class="fa fa-hand-o-right" aria-hidden="true"></span>
                </div>
                <div class="col-10">
                  <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Who We Are</h3>
                  <p>Error sit antium dolorts remq hymue laud.</p>
                </div>
              </div>
            </div> -->
          </div>
          <div class="row mt-4">
            <div class="col-lg-6 col-md-12 col-sm-6">
              <div class="row">
                <div class="col-2 foot-icon-w3">
                  <span class="fa fa-ticket" aria-hidden="true"></span>
                </div>
                <div class="col-10">
                  <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">We Offer</h3>
                  <p>Best Services in IT.</p>
                </div>
              </div>
            </div>            
          </div>
        </div>
        <div class="col-md-3 footer-grid_section_1its my-md-0 my-5">
          <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-md-3 mb-4">Contact Us</h3>
          <div class="contact-info">
            <div class="footer-style-w3ls">
              <h4 class="text-li mb-2">Phone</h4>
              <p>+91 7878827777</p>
            </div>
            <div class="footer-style-w3ls my-4">
              <h4 class="text-li mb-2">Email </h4>
              <p><a href="mailto:info@example.com">info@example.com</a></p>
            </div>
            <!-- <div class="footer-style-w3ls">
              <h4 class="text-li mb-2">Location</h4>
              <p>Honey Avenue, New York City</p>
            </div> -->
          </div>
        </div>
        <div class="col-md-4 footer-grid_section_1its">
          <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Newsletter</h3>
          <p>Be the first to get latest news and offers!<br>Sed ut perspiciatis unde omnis.</p>
          <form action="#" method="post" class="subscribe_form mt-4">
            <input class="form-control" type="email" name="email" placeholder="Enter your email..." required="">
            <button type="submit" class="btn">Submit</button>
          </form>
          <!-- social icons -->
          <!-- <div class="w3pvt-webinfo_social_icons mt-4 pt-md-0 pt-3">
            <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Connect With Social</h3>
            <ul class="w3pvt-webits_social_list list-unstyled">
              <li class="w3_w3pvt-web_facebook">
                <a href="#">
                  <span class="fa fa-facebook-f"></span>
                </a>
              </li>
              <li class="mx-2 w3pvt-web_twitter">
                <a href="#">
                  <span class="fa fa-twitter"></span>
                </a>
              </li>
              <li class="w3_w3pvt-web_dribble">
                <a href="#">
                  <span class="fa fa-dribbble"></span>
                </a>
              </li>
              <li class="ml-2 w3_w3pvt-web_google">
                <a href="#">
                  <span class="fa fa-google-plus"></span>
                </a>
              </li>
            </ul>
          </div> -->
          <!-- social icons -->
        </div>
      </div>
    </div>
  </footer>
  <!-- //footer -->
  <!-- copyright -->
  <!-- <div class="cpy-right text-center py-3">
    <p>© 2019 Corpo. All rights reserved | Design by
      <a href="http://w3layouts.com"> W3layouts.</a>
    </p>
  </div> -->
  <!-- //copyright -->
  <!-- move top icon -->
  <a href="#home" class="move-top text-center"></a>
  <!-- //move top icon -->
