
<!-- header -->
  <header>
    <nav class="nav-top">
      <!-- Created By Bogdan Nagorniy -->
      <div class="logo">
        <h1>
          <a href="index.html">Sypno</a>
        </h1>
      </div>      
      <ul class="nav_links list-unstyled">
        <li class="nav-link-list">
          <a href="index.html">
            <span class="fa fa-home"></span>
            <p>Home</p>
          </a>
        </li>
        <li>
          <a href="#about">
            <span class="fa fa-question"></span>
            <p>About</p>
          </a>
        </li>
        <li>
          <a href="#services">
            <span class="fa fa-cog"></span>
            <p>Services</p>
          </a>
        </li>        
        <li>
          <a href="#team">
            <span class="fa fa-users"></span>
            <p>Team</p>
          </a>
        </li>        
        <li>
          <a href="#contact">
            <span class="fa fa-map-marker"></span>
            <p>Contact</p>
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <!-- //header -->

<!-- left content -->
<div id="main-content">
  <!-- home -->
  <div id="home">
    <!-- banner -->
    <div class="banner_w3lspvt">
      <div class="banner-top1">
        <div class="container">
          <div class="banner-text text-center">
            <h4>s</h4>
            <!-- <h3 class="my-md-4 my-3">To Grow Your Business</h3>
            <p class="movetxt text-bl">We Provide Best Services</p> -->
            <h3 class="my-md-4 my-3">The Sypnosis</h3>
            <p class="movetxt text-bl">To Grow Your Business</p>
            <p class="movetxt text-bl">We Provide Best Services</p>
          </div>
        </div>
      </div>
    </div>
    <!-- //banner -->
  </div>
  <!-- //home -->

<app-about></app-about>
<app-services></app-services>
  <app-states></app-states>
  <app-team></app-team>

  <!-- testimonials -->
  <!-- <section class="testi text-center py-5" id="testi">
    <div class="container pb-xl-5 pb-lg-3">
      <div class="title-section mb-sm-5 mb-4 pb-xl-4 text-center">
        <h4 class="text-bl mb-2">We have</h4>
        <h3 class="w3ls-title text-bl text-uppercase let font-weight-bold">7630 happy users</h3>
      </div>
      <div class="row pb-4">
        <div class="col-lg-6">
          <div class="testi-cgrid">
            <div class="testi-icon">
              <span class="fa fa-user text-wh" aria-hidden="true"></span>
            </div>
            <h6 class="b-w3ltxt mt-4">Steve Joe</h6>
            <p class="mx-auto">Onec consequat sapien ut leo cursus
              rhoncus. Nullam dui mi, vulputate ac metus semper.</p>
          </div>
        </div>
        <div class="col-lg-6 mt-lg-0 mt-sm-5 mt-4">
          <div class="testi-cgrid">
            <div class="testi-icon">
              <span class="fa fa-user text-wh" aria-hidden="true"></span>
            </div>
            <h6 class="b-w3ltxt mt-4">Petey Sty</h6>
            <p class="mx-auto">Onec consequat sapien ut leo cursus
              rhoncus. Nullam dui mi, vulputate ac metus semper.</p>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- testimonials -->

  <!-- middle section -->
  <section class="w3ls-bnrbtm py-5 text-center">
    <div class="container py-xl-5 my-lg-5">
      <div class="cont-w3pvt py-sm-5 py-4">
        <span class="w3-line text-uppercase">Corpo</span>
        <h3 class="w3pvt-web-title mt-2 mb-3">Our Mission is simple, deliver very honest financial products to every
          customer.</h3>
        <!-- <p class="text-botm">Donec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus at</p> -->
        <!-- <a href="#about" class="btn button-style mt-sm-5 mt-4">Read More</a> -->
      </div>
    </div>
  </section> 
  <!-- //middle section -->

  <app-contact></app-contact>   
</div>
<app-footer></app-footer> 
<!-- //left content -->