<!-- stats section -->
<div class="stats py-5" id="stats">
  <div class="container py-xl-5 py-lg-3">
    <div class="row text-center py-sm-3">
      <div class="col-md-3 col-sm-6 w3layouts_stats_left">
        <p class="counter">10</p>
        <p class="para-text-w3ls text-li">Projects Complete</p>
      </div>
      <div class="col-md-3 col-sm-6 w3layouts_stats_left mt-sm-0 mt-4">
        <p class="counter">2</p>
        <p class="para-text-w3ls text-li">Awards</p>
      </div>
      <div class="col-md-3 col-sm-6 w3layouts_stats_left mt-md-0 mt-4">
        <p class="counter">7</p>
        <p class="para-text-w3ls text-li">Happy Clients</p>
      </div>
      <div class="col-md-3 col-sm-6 w3layouts_stats_left mt-md-0 mt-4">
        <p class="counter">200</p>
        <p class="para-text-w3ls text-li">Mail Conversation</p>
      </div>
    </div>
  </div>
</div>
<!-- //stats section -->