<!-- services -->
<div class="serives-w3pvt-web py-5" id="services">
  <div class="container py-xl-5 py-lg-3">
    <div class="row support-bottom text-center">
      <div class="col-md-4 services-w3ls-grid">
        <div class="serv-icon mx-auto">
          <span class="fa fa-desktop"></span>
        </div>
        <h4 class="text-wh mt-md-4 mt-3 mb-3">Web Development</h4>
        <!-- <p>Ut enim ad minima veniam, quis nostrum ullam corporis suscipit laboriosam.</p> -->
      </div>
      <div class="col-md-4 services-w3ls-grid my-md-0 my-4">
        <div class="serv-icon clr-2 mx-auto">
          <span class="fa fa-android"></span>
        </div>
        <h4 class="text-wh mt-md-4 mt-3 mb-3">Android Development</h4>
        <!-- <p>Ut enim ad minima veniam, quis nostrum ullam corporis suscipit laboriosam.</p> -->
      </div>
      <div class="col-md-4 services-w3ls-grid">
        <div class="serv-icon clr-3 mx-auto">
          <span class="fa fa-apple"></span>
        </div>
        <h4 class="text-wh mt-md-4 mt-3 mb-3">ios Development</h4>
        <!-- <p>Ut enim ad minima veniam, quis nostrum ullam corporis suscipit laboriosam.</p> -->
      </div>
    </div>
  </div>
</div>
<!-- //services -->
